.output-description{
  overflow-y: auto;
  color: grey;
  border-radius: 10px;   
}

.backdrop{
  position: fixed;
  top: 25%;
  bottom: 20%;
  left: 25%;
  right: 25%;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  border: 0.5vh solid black;
  height: fit-content;    
  opacity: 0.9;
}

/* 1281px to higher resolution desktops*/
@media (min-width: 1281px) {      
     .output-description{
      overflow-y: auto;
      background-color: transparent;
      border: 0.5vh solid black;
      opacity: 0.9;
      height: 20vw; 
      font-family: 'Muli'; 
    }  
    .title-popup{
      padding: 1.5vw;
      font-family: 'Muli';
      font-weight: bold;
      color: black;
      font-size: calc(12px + 2vmin);
    }
    .nutri-eval{
      color: black; 
      text-align: justify;
      font-family: 'Muli';
      font-size: calc(10px + 2vmin);
      margin-left: 0.5vw;     
    }
}
  
  /* 1025px to 1280px  */
    @media (min-width: 1025px) and (max-width: 1280px) {    
    .output-description{
      overflow-y: auto;
      height: 20vw; 
      border: 0.5vh solid black;
      opacity: 0.9;
      font-family: 'Muli';
    }
    .title-popup{
      padding: 1.5vw;
      font-family: 'Muli';
      font-weight: bold;
      color: black;
      font-size: calc(12px + 2vmin);
    }
    .nutri-eval{
      color: black; 
      text-align: justify;
      font-family: 'Muli';
      font-size: calc(8px + 2vmin);
      margin-left: 0.5vw;     
    }
  }
  
  /*  768px to 1024px  */
  @media (min-width: 768px) and (max-width: 1024px) {
    .output-description{
        overflow-y: auto;            
    }
  }
  
  /* 768px to 1024px */  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .output-description{
      overflow-y: auto;      
      height: 20vw; 
    }
    .title-popup{
      padding: 1.5vw;
      font-family: 'Muli';
      font-weight: bold;
      color: black;
      font-size: calc(8.5px + 1.5vmin);
    }
    .nutri-eval{
      color: black; 
      text-align: justify;
      font-family: 'Muli';
      font-size: calc(5px + 1.8vmin);
      margin-left: 0.5vw;     
    }    
  }
  
  /* 481px to 767px  */  
  @media (min-width: 481px) and (max-width: 767px) {
    .output-description{
      overflow-y: auto;   
     height: 35vw; 
  }
  .title-popup{
    padding: 1.5vw;
    font-family: 'Muli';
    font-weight: bold;
    color: black;
    font-size: calc(8.5px + 1.5vmin);
  }
  .nutri-eval{
    color: black; 
    text-align: justify;
    font-family: 'Muli';
    font-size: calc(5px + 1.8vmin);
    margin-left: 0.5vw;   
    }    
  }
  
  /* 320px to 479px  */   
  @media (min-width: 320px) and (max-width: 480px) {
    .output-description{
      overflow-y: auto;     
      height: 40vw;      
  }
  .title-popup{    
    padding: 1vw;
    font-family: 'Muli';
    font-weight: bold;
    color: black;
    font-size: calc(8.5px + 1.5vmin);
  }
  .nutri-eval{
    color: black;      
    text-align: justify;
    font-family: 'Muli';
    font-size: calc(7px + 1vmin);     
  }
  
}
/*----------------------------------------------------------------------*/
@media (max-width: 319px) { 
  .output-description{
   overflow-y: auto;
   background-color: transparent;
   height: 25vw; 
  } 
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {  
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 128, 192);
  border-radius: 10px;  
}

::-webkit-scrollbar-thumb:hover {
  background: pink; 
}